@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 30px;
}

.center {
  text-align: center;
}

.footer {
  padding: 50px, 0px;
  color: white;
  text-align: center;
  padding: 50px 0;
}
.scroll {
  height:100px;
  width: 100%;
  overflow: auto;
  color: black;
  font-family: sans-serif;
  padding:10px;
  font-size: 15px;
}
.thumbnail .box-top {

}
.thumbnail a > img
{margin-left: 5px;}

.search-padding {
  padding-bottom: 30px;
  float: right;
  width: 250px;
}
.table-padding {
  padding-top: 10px;
  td {
    padding: 0 5px 0 5px;
  }
}
