<div class="well">
  <h4><%= t("Posted_By_Following_Users") %></h4>
  <div class="row">
    <ul class="list-unstyled">
    <% @posts_followed.each do |post| %>
      <li>
        <a><%= link_to post.title, post %></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
